
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/PersonaVista.css" />
</head>
<body>
    <div>
        <h3>DATOS PERSONALES</h3>
        <form action="Persona/Persona" method="post">
            <table>
                <tr>
                    <td><label>Identificación:  </label></td>
                    <td><input type="text" name="id" value=" " /></td>
                </tr>
                <tr>
                    <td><label>Nombre:  </label></td>
                    <td><input type="text" name="nombre" value=" " /></td>
                </tr>
                <tr>
                    <td><label>Apellidos:  </label></td>
                    <td><input type="text" name="apellidos" value=" " /></td>
                </tr>
                <tr>
                    <td><label>Fecha nacimiento:  </label></td>
                    <td><input type="date" name="fhNacimiento" value=" " /></td>
                </tr>
                <tr>
                    <td><label>Tipo de Regimen:  </label></td>
                    <td><input type="text" name="tipoRegimen" value=" " /></td>
                </tr>
                <tr>
                    <td><label>Semanas cotizadas en el sistema de salud:  </label></td>
                    <td><input type="text" name="semanasCotizadas" value=" " /></td>
                </tr>
                <tr>
                    <td><label>Fecha de ingreso al sistema de salud:  </label></td>
                    <td><input type="date" name="fechaIngreso" value=" " /></td>
                </tr>
                <tr>
                    <td><label>Fecha de ingreso a la actual EPS:  </label></td>
                    <td><input type="date" name="fechaIngresoEPS" value=" " /></td>
                </tr>
                <tr>
                    <td><label>
                                EPS
                               (Sura, Nueva EPS, Salud Total, Sanitas, Savia)
                            </label></td>
                    <td><input type="text" name="EPS" value=" " /></td>
                </tr>
                <tr>
                    <td><label>Historia Clinica:  </label></td>
                    <td><input type="text" name="historiaClinica" value=" " /></td>
                </tr>
                <tr>
                    <td><label>Cantidad de enfermedades que padece:  </label></td>
                    <td><input type="text" name="cantidadEnfermedades" value=" " /></td>
                </tr>
                <tr>
                    <td><label>Enfermedad más relevante:  </label></td>
                    <td><input type="text" name="enferemdadRelevante" value=" " /></td>
                </tr>
                <tr>
                    <td><label>tipo de afiliación: Cotizante o Beneficiario:  </label></td>
                    <td><input type="text" name="tipoAfiliación" value=" " /></td>
                </tr>
                <tr>
                    <td><label>Costo en Tratamientos:  </label></td>
                    <td><input type="text" name="costosTratamientos" value=" " /></td>
                </tr>
                <tr>
                    <td><input type="submit" name="enviar" value="Enviar" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>

