
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/PersonaVista.css" />
</head>
<body>
    <br>
    <h1 style="text-align: center;">Med Memoirs  <img src="~/Content/logoClinica.jpg" width="90" height="90"/></h1>

    <br />
    <div class="container">
        <div class="image">
            <!--<img src="~/Content/logoClinica.jpg" alt="Logo" width="300" height="300">-->
            
            <h3>
                Herramienta digital que integra la historia clínica de todos los colombianos,
                con el fin de facilitar el control y seguimiento que realiza la EPS, la IPS y 
                todos los organismos de control.
            </h3>
            <h2 style="text-align: center;">Menú</h2>

        </div>
        
    </div>
    <div class="buttons">
        @using (Html.BeginForm("registro", "Home", FormMethod.Post))
        {
            <style>
                .boton-minimalista { 
                    background-color: transparent;
                    border: 2px solid #333;
                    color: #333;
                    font-size: 16px;
                    padding: 10px 20px;
                }
            </style>

            <button id="miBoton1" class="boton-minimalista"> Registrar Paciente...............................................</button>
        }
        @using (Html.BeginForm("cambioEPS", "Home", FormMethod.Post))
        {
            <button id="miboton2" class="boton-minimalista"> Cambio de EPS....................................................</button>
        }
        @using (Html.BeginForm("cambioRegimen", "Home", FormMethod.Post))
        {
            <button id="miboton3" class="boton-minimalista"> Cambio de tipo de regimen...........................</button>
        }
        @using (Html.BeginForm("actualizarHistoria", "Home", FormMethod.Post))
        {
            <button id="miboton4" class="boton-minimalista"> Actualizar historial medico..............................</button>
        }
        @using (Html.BeginForm("actualizarCosto", "Home", FormMethod.Post))
        {
            <button id="miboton5" class="boton-minimalista"> Actualizar costo de tratamientos..................</button>
        }
        @using (Html.BeginForm("actualizarEnfermedad", "Home", FormMethod.Post))
        {
            <button id="miboton6" class="boton-minimalista"> Actualizar enfermedad más relevante........</button>
        }
        @using (Html.BeginForm("estadisticas", "Home", FormMethod.Post))
        {
            <style>
                .boton-minimalista1 {
                    background-color: transparent;
                    border: 2px solid red;
                    color: #333;
                    font-size: 16px;
                    padding: 10px 20px;
                }
            </style>
            <button id="miboton6" class="boton-minimalista1"> Estadisticas............................................................</button>
        }
    </div>
</body>
</html>


