@model HistoriaClinica_Entrega2.Models.Persona
@{
    ViewBag.Title = "mostrarActualizarEnfermedad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Actualizar Enfermedad más Relevante</title>
    <link rel="stylesheet" href="~/Content/PersonaVista.css" />
</head>
<body>
    <div>
        <h3>Actualizar Enfermedad más Relevante</h3>
        <form action="cambiarEnfermedad" method="post">
            <table>
                @if (!string.IsNullOrEmpty(ViewBag.Notificacion))
                {
                    <div class="alert alert-success">@ViewBag.Notificacion</div>
                }

            <tr>
                <label>El paciente identificado con el numero: </label>
                <div class="text-muted">
                    @Model.Identificacion
                </div>
            </tr>
            <tr>
                <label>Presenta esta enfermedad más relevante:</label>
                <div class="text-muted">
                    @Model.EnfermedadRelevante
                </div>
            </tr>
                @using (Html.BeginForm("cambiarEnfermedad", "Home", FormMethod.Post))
                {
                    <tr>
                        <td><label>Nueva Enfermedad más relevante: :  </label></td>
                        <td><input type="text" name="nuevaEnfermedad" pattern="[a-zA-Z.,:;()¿?¡! ]+" required /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="enviar" value="Enviar" /></td>
                    </tr>
                }
            </table>
        </form>
    </div>
</body>
</html>



