@model HistoriaClinica_Entrega2.Models.Persona
@{
    ViewBag.Title = "mostrarActualizarHistoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Actualizar Historia Clinica</title>
    <link rel="stylesheet" href="~/Content/PersonaVista.css" />
</head>
<body>
    <div>
        <h3>Actualizar Historia Clinica</h3>
        <form action="cambioHistoriaClinica" method="post">
            <table>
                @if (!string.IsNullOrEmpty(ViewBag.Notificacion))
                 {
                    <div class="alert alert-success">@ViewBag.Notificacion</div>
                 }

            <tr>
                <label>El paciente identificado con el numero:  </label>
                <div class="text-muted">
                    @Model.Identificacion
                </div>
            </tr>
                
            <tr>
                <label>Presenta esta historia clinica: </label>
                <div class="text-muted">
                    @Model.InformacionPaciente.HistoriaClinica
                </div>
            </tr>
                @using (Html.BeginForm("cambioHistoriaClinica", "Home", FormMethod.Post))
                {
                    <tr>
                        <td><label>Nueva Historia Clinica:  </label></td>
                        <td><input type="text" name="nuevaHistoriaClinica" pattern="[a-zA-Z.,:;()¿?¡! ]+" required /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="enviar" value="Enviar" /></td>
                    </tr>
                }
            </table>
        </form>
</div>
</body>
</html>

