@model HistoriaClinica_Entrega2.Models.Persona
@{
    ViewBag.Title = "mostrarActualizarHistoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Actualizar Historia Clinica</title>
    <link rel="stylesheet" href="~/Content/PersonaVista.css" />
</head>
<body>
    <div>
        <h3>Actualizar Historia Clinica</h3>
        <form action="cambioHistoriaClinica" method="post">
            <table>
                @if (!string.IsNullOrEmpty(ViewBag.Notificacion))
                {
                    <div class="alert alert-success">@ViewBag.Notificacion</div>
                }

                <tr>
                    <td><label>El paciente identificado con el numero: @Model.Identificacion </label></td>
                </tr>
                <tr>
                    <td><label>Presenta esta historia clinica: @Model.HistoriaClinica</label></td>
                </tr>
                @using (Html.BeginForm("cambioHistoriaClinica", "Home", FormMethod.Post))
                {
                    <tr>
                        <td><label>Nueva Historia Clinica:  </label></td>
                        <td><input type="text" name="nuevaHistoriaClinica" value=" " /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="enviar" value="Enviar" /></td>
                    </tr>
                }
            </table>
        </form>
</div>
</body>
</html>

