
@{
    ViewBag.Title = "seNecesitaRegistro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Estadisticas</title>
    <link rel="stylesheet" href="~/Content/PersonaVista.css" />
</head>
<body>
    <div>
        <form action="seNecesitaRegistro" method="post">
            <table>
                <tr>
                    <td><label>Actualmente no existen pacientes registrados en el sistema</label></td>
                </tr>
                <tr>

            </table>
        </form>
    </div>
</body>
</html>

