
@{
    ViewBag.Title = "verPacientes";
}

<html>
<head>
    <title>Pacientes</title>
    <link rel="stylesheet" href="~/Content/verPaciente.css" />
</head>
<body>
    <div>
        <h3>Pacientes</h3>
        <form action="Pacientes" method="post">
                <table>
                    <thead>
                        <tr>
                            <th>Identificación</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Fecha de Nacimiento</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123456789</td>
                            <td>Juan</td>
                            <td>Pérez González</td>
                            <td>25/11/1975</td>

                        </tr>
                        <tr>
                            <td>987654321</td>
                            <td>María</td>
                            <td>Rodríguez Pérez</td>
                            <td>25/11/1975</td>

                        </tr>
                    </tbody>
                </table>
</form>
    </div>
</body>
</html>

